@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'Cabinet Grotesk';
    src: url("../src/assets/fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");

}

@font-face {
    font-family: 'Plein';
    src: url("../src/assets/fonts/Plein-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Telma' ;
    src: url("../src/assets/fonts/Telma-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Supreme' ;
    src: url("../src/assets/fonts/Supreme-Regular.ttf") format("truetype");
}